.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.header__primary {
  padding: 0 20px;
  width: 100%;
  display: flex;
  background-color: #424A4E;
}

.header__phone {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}

