.subscribe {
  box-sizing: border-box;
  width: 300px;
  position: absolute;
  top: 100px;
  transform: translate(-50%, 0);
  left: 50%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #ffffff;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
}

.subscribe__item {
  margin-bottom: 15px;
  line-height: 30px;
}

.subscribe__message {
  margin-bottom: 50px;
}

.subscribe__send {
  background: coral;
  line-height: 30px;
}
